header.header 
    .nav.nav--tours 
        a.nav__el(href='/') All tours 
    .header__logo 
        a(href='/')
            img(src='/img/logo-white.png' alt='Natours logo')
    .nav.nav--user 
        if user 
            a.nav__el.nav__el--logout Logout       
            a.nav__el(href='/profile') 
                img.nav__user-img(src=`/img/users/${user.photo}`, alt=`${user.name}'s Photo`)
                span= user.name.split(' ')[0]  
        else 
            a.nav__el(href='/login')  Log in 
            a.nav__el(href='/signup').nav__el--cta Sign up